:root {
--main-bg: #8D9D90;
--secondary-bg: #D9D9D9;
--main-font: 'Anta';
--secondary-font: 'Kode Mono';
--font-size-l: 10rem;
--font-size-m: 5rem;
--font-size-s: 2.5rem;

}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.kode-mono-regular {
    font-family: "Kode Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

* {
    background-color: var(--main-bg);
}

#main {
    
}